<h1> Welcome to HomePage</h1>
<div class="mt-2">
  <%= link_to "ArticleListing", articles_path, class:"btn btn-outline-primary" %>

  <%= link_to "AboutPage", about_path, class:"btn btn-outline-primary" %>
</div>
